<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>
    <h3><%= 1 + 2%></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit magnam distinctio eligendi, illum nesciunt, veritatis nisi doloribus debitis aspernatur doloremque id sit libero, dolor molestiae explicabo? Delectus totam sint ad distinctio odio, illum quasi omnis impedit quaerat excepturi reiciendis tempore optio cumque fuga est possimus sed nam, iure dolorem unde.</p>
    <button>clickme!</button>
</body>
</html>