<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h3>Write new Chat</h3>
    <form action="/chats" method="POST">
        <input placeholder="who are you?" name="from">
        <br><br/>
        <textarea placeholder="write your message" name="msg">Write your message here..</textarea>
        <br><br/>
        <input placeholder="who do you want to send it to?" name="to">
        <br><br/>
        <button>Send</button>
    </form>
</body>
</html>