h1{
    color: blueviolet;
    background-color: aquamarine;
}
@media(width:400px){
    h1{
        background-color: brown;
        color: beige;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}
@media(min-width:500px){
   h1{ background-color: yellow;
   }
}
@media(max-width:450px){
    h1{
        background-color: darkmagenta;
    }
}